<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="script" href="../js/bootstrap.js">

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">

    <!--개인용 css 링크-->
    <link rel="stylesheet" type="text/css" href="../css/persnoal.css?ver=1">
    <title>Title</title>
</head>
<body>

<div class="container-fulid" id="piano">
</div>

<!--악보 테이블-->
<table class="table table-piano table-bordered table-hover table-condensed" id="pianoTable" style="user-select: none">
    <!--멜로디 순서-->
    <thead id="theadOfPianoTable" >
    </thead>
    <!--//악보-->
    <tbody id="tbodyOfPianoTable">
    <?php
        include_once './model/keyboard.php';
        $temp = new keyboard();
        $temp->createTable();

    ?>
    </tbody>
</table>

<!--기능-->
<button class="btn btn-default" id="button_play">미리듣기</button>
<button class="btn btn-default" id="button_convert">컨버트</button>
<button class="btn btn-default" id="button_clear">클리어</button>
<button class="btn btn-default" id="button_read">불러오기</button>
템포<input  type="text" id="input_tempo" placeholder="Tempo">


<script src="../js/jquery-3.3.1.js"></script>
<script>
    // createPiano(13);

    //초기 동작
    {tableCreate(12);}

    function tableCreate(max) {


        for(var i = 0; i < max; i++){
            createHead();

            for(var j = 0; j < 30; j++) {
                createScore(j);
            }
        }




    }//function-end

    function createHead() {
        var thead = document.getElementById('theadOfPianoTable');


        if(thead.childElementCount === 0) {
            var list = document.createElement('th');
            list.innerText = "항목";
            thead.appendChild(list);
        }
        var createdTH = document.createElement('th');
        createdTH.innerText = thead.childElementCount;
        thead.appendChild(createdTH);
    }

    function createScore(i) {

        var tbody = document.getElementById('tbodyOfPianoTable');
        var createdTD = document.createElement('td');

        createdTD.setAttribute('name',tbody.children[i].firstChild.id);

        createdTD.classList.add('cell-piano');


        createdTD.innerHTML = "&nbsp&nbsp&nbsp&nbsp";
        tbody.children[i].appendChild(createdTD);
    }



    $('#tbodyOfPianoTable').on('click','.cell-piano',function () {

        if($(this).is(".cell-piano-input") === true){
            this.classList.remove("cell-piano-input");
            this.classList.remove("success");
        }
        else{
            var audio = document.createElement('audio');
            audio.setAttribute('src',"../wav/note/note\_"+this.getAttribute('name')+".wav");
            audio.play();

            this.classList.add("cell-piano-input");
            this.classList.add("success");
        }

        var maxRecord = event.target.parentElement.parentElement.parentElement.firstElementChild.childElementCount;

        if(event.target.cellIndex >= maxRecord-3){
            tableCreate(4);
        }
    });



    // $('.cell-piano').hover(
    //     function () {
    //
    //         this.classList.remove('btn-default');
    //         this.classList.add('btn-primary');
    //
    //     }
    //     ,
    //     function () {
    //         this.classList.remove('btn-primary');
    //         this.classList.add('btn-default');
    //     }
    // )

    $('#button_play').click(
        function () {
            var currentLine = 1;
            var tempo = getTempo();

            var audioHandler = setInterval(function () {
                audioPlay(currentLine);
                currentLine++;
            },tempo);
        }
    );

    $('#button_convert').click(
        function () {
            convertString();
        }
    );

    $('#button_clear').click(
        function () {

            // var score = document.getElementsByClassName('cell-piano-input');
            //
            //
            // while($(score[0]).is('.cell-piano-input') === true){
            //     score[0].classList.remove("success");
            //     score[0].classList.remove("cell-piano-input");
            // }
            //
            // $('#input_tempo')[0].value = "";

            clearScore();
        }
    );

    $('#button_read').click(
        function () {
            openScore();
        }
    );

    function audioPlay(currentLine) {
        var playlist = new Array();
        var maxOfLine = document.getElementById('theadOfPianoTable').children.length - 1;

        playlist[0] = getPlaylist(currentLine);



        for(var i = 0; i < playlist.length; i++) {
            var src = "";
            var audio = "";
            if(playlist[i].length > 0) {
                for(var j = 0; j < playlist[i].length; j++) {
                    src = "../wav/note/note_" + (playlist[i][j]) + ".wav";
                    audio = new Audio(src);
                    audio.play();
                }
            }
            else
                continue;



        }


    }
    
    function getPlaylist(line) {
        var table = document.getElementById('tbodyOfPianoTable');
        var lineArray = new Array();
        for(var i = 0; i < table.children.length;i++){
            var selected = table.children[i].children[line];
            if($(selected).is(".cell-piano-input") === true)
                lineArray.push(table.children[i].children[line].getAttribute('name'));
        }

        return lineArray;
    }
    
    function convertString() {
        var maxOfLine = document.getElementById('theadOfPianoTable').children.length - 1;
        var melodyArray = new Array();
        var melodyString = "";
        var currentPlayList = "";
        for(var i = 0; i < maxOfLine; i++) {
            currentPlayList = getPlaylist(i + 1);
            if(currentPlayList != ""){
                for(var j = 0; j < currentPlayList.length; j++) {
                    currentPlayList[j] = String.fromCharCode(parseInt(currentPlayList[j])+25);
                }
                melodyArray.push(currentPlayList);
            }
            else
                melodyArray.push(0);

                melodyArray.push("r");
        }

        var tempo = $('#input_tempo')[0].value;

        if(tempo == ""){
            tempo = 80;
        }

        melodyString += tempo+";";

        for(var i = 0; i < melodyArray.length; i++){
                for(var j = 0; j < melodyArray[i].length; j++){
                    melodyString += melodyArray[i][j];
                }

            }

        while(melodyString.search(/rr$/) > -1) {
            melodyString = melodyString.replace(/rr$/,"r");
        }



        alert(melodyString);
        console.log(melodyString);

    }

    function getTempo() {
        var inputTempo =    $('#input_tempo')[0].value;

        if(inputTempo == "")
            inputTempo = 80;

            inputTempo = 600 / inputTempo * 100 ;
            // 60 == 1000
            //

        return inputTempo;

    }

    function clearScore() {
        $('#theadOfPianoTable>th').remove();
        $('.cell-piano').remove();
        tableCreate(12);
    }

    function openScore(){



        var scoreString = prompt("악보 코드 입력");

        if(scoreString === "" || scoreString === null)
            return 0;

        clearScore();

        var tempo = scoreString.split(";")[0];
        var score = scoreString.split(";")[1].split("r");
        var convertScore = [];

        tableCreate(score.length + score.length%4 - 8);


        console.log(score);

        for(var i = 0; i < score.length; i++) {
            if (!convertScore[i])
                convertScore[i] = [];


            for (var j = 0; j < score[i].length; j++) {

                var convertString = score[i][j].charCodeAt().valueOf();


                convertScore[i][j] = convertString;
            }
        }

        // tempo = getTempo(tempo);

        console.log(tempo);
        console.log(convertScore);

        $('#input_tempo')[0].value = tempo;

        for(var i = 0; i < convertScore.length; i++)
            for(var j = 0, k = 0; j < 30; j++){
                var currentScore = document.getElementById('tbodyOfPianoTable').children[j].children[i+1];
                if(currentScore.getAttribute('name') == convertScore[i][k] - 25) {
                    currentScore.classList.add("cell-piano-input");
                    currentScore.classList.add("success");
                    k++;
                }



            }



    }


</script>

</body>
</html>