#tbodyOfPianoTable tr td .cell-piano{
    text-align: center;
    background-color: white;

}

.cell-piano:hover{
    background-color: green;
}

th{
    text-align: center;
}

#pianoTable {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}